* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: #fbcf00;
    font-family: 'Press Start 2P';
    overflow: hidden;
    line-height: 30px;
}
.container {
width: 1140px;
margin: 0 auto;
perspective: 380px;
perspective-origin: bottom;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: visible;
transform: scaleY(3);
}
.animation {
    position: absolute;
    top: 0;
    right: 13%;
    left: 13%;
    height: 100%;
    animation: play 30s ease-in-out infinite;
}
h1,h2 {
    text-align: center;
    margin-bottom: 25px;
}
p {
    padding: 8px 0;
}
@keyframes play {
    0% {
transform: rotateX(21deg) translate3d(0, 1000px, 0);
opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
transform: rotateX(21deg) translate3d(0, -150rem, 0);
opacity: 0;
    }
}